.footerContainer {
    background-color: #D9D9D9;
    width: 100vw;
    /* Full viewport width */
    height: 82.5px;
    /* Half the height of the header */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

