
.headerContainer {
    background-color: #D9D9D9;
        width: 100vw;
        height: 130px;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        /* add high z index so that other stuff doesn't over flow */
        z-index: 1000;
}


.textContent {
    margin-left: 20px;
    font-size: 150px;
}

body {
    margin: 0;
    padding: 0;
}