.sender-message {
    background-color: #ffe4ed;
    padding: 5px;
    margin: 5px 0;
    border-radius: 8px;
}

.receiver-message {
    background-color: #f0f0f0;
    /* Light grey for receiver messages */
    padding: 5px;
    margin: 5px 0;
    border-radius: 8px;
}

.message-container {
    max-height: calc(100vh - 400px);
    /* Adjust the value based on your layout */
    overflow-y: auto;
}

.titleContent {
        background-color: #6F5E53;
            padding: 10px;
        }
